/*The formula for keeping everything in scale
    set the font-size to overall width / 50  */
#SiteSummaryReport {
  width: 900px;
  font: 18px Arial; }

.infoColor {
  color: #336699;
  font-weight: bold;
  font-size: 0.8em; }

#SiteSummaryReport .oddRow {
  background: #d9d9d9; }

#SiteSummaryReport > div {
  height: 200px;
  width: 100%;
  background: #f2f2f2;
  border: black solid 1px;
  border-collapse: collapse;
  box-sizing: border-box;
  overflow: hidden; }

.rowPart {
  position: relative;
  width: 30%;
  height: 10em;
  float: left;
  padding: 0.5em 0;
  overflow: hidden; }

.siteImage {
  height: 90%;
  width: 33%;
  margin-left: 0.5em; }

.siteImage img {
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.6) 0.5em 0.5em 2em 0.3em; }

.siteInfo {
  width: 33%; }

.topTools h3 {
  text-decoration: underline;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin: 0.3em 0;
  padding-top: 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden; }
.topTools p:nth-child(odd) {
  background: #d9d9d9; }
.topTools p:nth-child(even) {
  background: #f2f2f2; }
.topTools .icon {
  color: #336699;
  font-weight: bold; }
.topTools .toolName, .topTools .icon {
  display: inline-block;
  float: left; }
.topTools .toolScore {
  display: inline-block;
  float: right; }
.topTools > p {
  height: 1.4em;
  clear: both;
  padding-top: 0.1em;
  margin: 0; }
.topTools p.topToolInfo {
  font-size: 0.8em;
  background: none; }

.siteScore {
  position: absolute;
  top: 1.5em;
  left: 50%;
  margin-left: -3em;
  width: 11.11em; }

.siteScore .siteBigScore {
  font-size: 6em;
  font-weight: bold;
  float: left; }

.siteScoreUnit {
  display: block;
  font-size: 2em;
  font-weight: bold;
  padding-top: 0.95em; }

.totalInfo {
  font-size: 0.8em; }

.siteDivergenceArrow {
  font-weight: bold; }

.siteScore .siteDivergenceArrow, .siteScore .siteDivergence {
  display: inline-block; }
