html
{
    height: 100%;
}
body
{
    width: 100%;
    overflow:hidden;
    height:100%;
}

.float-right
{
    float: right;
}
.float-left
{
    float: left;
}

#body
{
    clear: both;
    width:100%;
    -webkit-box-sizing: border-box;
        -moz-box-sizing:border-box;
             box-sizing:border-box;
    /*height:100%;*/
}
.main-content
{
    height: 100%;
}

table {
    width: 100%;
}

/*This can all be removed when the css page naming convention is finalized*/
.propertyBoard td {
    /*padding: 2px 4px;*/ /* <-- Note: this caused a bug in the scoreboard's categorical view  */
}

.propertyBoard .x-window-body {
     background: none repeat scroll 0% 0% white;
     background:white;
     
}
.propertyBoard tr:nth-child(2n) {
    background: rgb(244,252,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZmNmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2UzZWVmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGZjZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(244,252,255,1) 0%, rgba(227,238,242,1) 47%, rgba(244,252,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,252,255,1)), color-stop(47%,rgba(227,238,242,1)), color-stop(100%,rgba(244,252,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(244,252,255,1) 0%,rgba(227,238,242,1) 47%,rgba(244,252,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(244,252,255,1) 0%,rgba(227,238,242,1) 47%,rgba(244,252,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(244,252,255,1) 0%,rgba(227,238,242,1) 47%,rgba(244,252,255,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(244,252,255,1) 0%,rgba(227,238,242,1) 47%,rgba(244,252,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4fcff', endColorstr='#f4fcff',GradientType=0 ); /* IE6-8 */

}

.propertyBoard tr.header {
    background:orange;
     background: -moz-linear-gradient(center top , #F7F7F7 0%, #F7F7F7 65%, #D3D3D3 100%) repeat scroll 0% 0% transparent;
     border-bottom: 1px double grey;
     color: black;
     font-weight: bold;
}

.ux-rating-star-zero {
  /*background: transparent;*/
  /*overflow: hidden;*/
  opacity: 0.5;
}

.ux-rating-star-on {
  /*background: transparent;*/
  /*overflow: hidden;*/
}

.ux-rating-star-off {
  /*background: transparent;
  overflow: hidden;*/
  /*background-position:0 -16px!important*/
  opacity: 0.3;
}

.x-ux-grid-printer {
  background-image: url(../Images/printer.png);
  -moz-background-size:contain;
   -o-background-size: contain;
       background-size:contain;
}

.x-action-col-icon {
    cursor: pointer;
}

.x-action-col-icon.x-item-disabled {
    cursor: default;
}

.x-save-menu-icon{
  background-image: url(../Images/save.png);
  -moz-background-size:contain;
   -o-background-size: contain;
       background-size:contain;
}

.x-saveconfig-menu-icon {
  background-image: url(../Images/saveConfig.png);
  -moz-background-size:contain;
   -o-background-size: contain;
       background-size:contain;
}

.x-saveproject-menu-icon {
  background-image: url(../Images/saveProject.png);
  -moz-background-size:contain;
   -o-background-size: contain;
       background-size:contain;
}
.x-open-menu-icon {
  background-image: url(../Images/open.png);
  -moz-background-size:contain;
   -o-background-size: contain;
       background-size:contain;
}
.x-openconfig-menu-icon {
  background-image: url(../Images/openCfg.png);
  -moz-background-size:contain;
   -o-background-size: contain;
       background-size:contain;
}
.x-openproject-menu-icon {
  background-image: url(../Images/openProject.png);
  -moz-background-size:contain;
   -o-background-size: contain;
       background-size:contain;
}
.x-delete-menu-icon {
  background-image: url(../Images/delete.png);
  -moz-background-size:contain;
   -o-background-size: contain;
       background-size:contain;
}
.x-zoomin-menu-icon {
  background-image: url(../Images/zoom_in.png);
  -moz-background-size:contain;
   -o-background-size: contain;
       background-size:contain;
}
.x-zoomout-menu-icon {
  background-image: url(../Images/zoom_out.png);
  -moz-background-size:contain;
   -o-background-size: contain;
       background-size:contain;
}
.x-cleaning-menu-icon {
  background-image: url(../Images/cleaning.png);
  -moz-background-size:contain;
   -o-background-size: contain;
       background-size:contain;
}
.x-fileexport-menu-icon {
  background-image: url(../Images/fileexport.png);
  -moz-background-size:contain;
   -o-background-size: contain;
       background-size:contain;
}
.x-barcharts-menu-icon {
  background-image: url(../Images/barcharts.png);
  -moz-background-size:contain;
   -o-background-size: contain;
       background-size:contain;
}
.x-notes-menu-icon {
  background-image: url(../Images/notes.png);
  -moz-background-size:contain;
   -o-background-size: contain;
       background-size:contain;
}
.x-edit-menu-icon {
  background-image: url(../Images/edit.png);
  -moz-background-size:contain;
   -o-background-size: contain;
       background-size:contain;
}

.x-search-menu-icon {
  background-image: url(../Images/search.png);
  -moz-background-size:contain;
   -o-background-size: contain;
       background-size:contain;
}

.x-NREL-menu-icon {
  background-image: url(../Images/nrel.png);
  -moz-background-size:contain;
   -o-background-size: contain;
       background-size:contain;
}
.x-eispclogo-menu-icon {
  background-image: url(../Images/eispclogo.png);
  -moz-background-size:contain;
   -o-background-size: contain;
       background-size:contain;
}
.x-anllogo-menu-icon {
  background-image: url(../Images/anllogo.png);
  -moz-background-size:contain;
   -o-background-size: contain;
       background-size:contain;
}
.x-dsirelogo-menu-icon {
  background-image: url(../Images/dsirelogo.png);
  -moz-background-size:contain;
   -o-background-size: contain;
       background-size:contain;
}
.x-epa-menu-icon {
  background-image: url(http://www.epa.gov/favicon.ico);
  -moz-background-size:contain;
   -o-background-size: contain;
       background-size:contain;
}
.x-tag-menu-icon {
  background-image: url(../Images/tag.png);
  -moz-background-size:contain;
   -o-background-size: contain;
       background-size:contain;
}
.x-tag-check-icon {
  background-image: url(../Images/check.png);
  -moz-background-size:contain;
   -o-background-size: contain;
       background-size:contain;
}
.x-tag-restart-icon {
  background-image: url(../Images/restart.png);
  -moz-background-size:contain;
   -o-background-size: contain;
       background-size:contain;
}


#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:300px;
    z-index:20000;
}
#msg-div .msg {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #F6F6F6;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}
#msg-div .msg h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 15px;
}
#msg-div .msg p {
    margin: 0;
}





/* StatusBar - structure */
.x-statusbar .x-status-text {
    cursor: default;
/*
    height: 21px;
    line-height: 21px;
    padding: 0 4px;
*/
}
.x-statusbar .x-status-busy {
    padding-left: 25px !important;
    background: transparent no-repeat 3px 0;
}

.x-toolbar div.xtb-text

.x-statusbar .x-status-text-panel {
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    padding: 2px 8px 2px 5px;
}

/* StatusBar word processor example styles */

#word-status .x-status-text-panel .spacer {
    width: 60px;
    font-size:0;
    line-height:0;
}
#word-status .x-status-busy {
    padding-left: 25px !important;
    background: transparent no-repeat 3px 0;
}
#word-status .x-status-saved {
    padding-left: 25px !important;
    background: transparent no-repeat 3px 0;
}

/* StatusBar form validation example styles */

.x-statusbar .x-status-error {
    cursor: pointer;
    padding-left: 25px !important;
    background: transparent no-repeat 3px 0;
}
.x-statusbar .x-status-valid {
    padding-left: 25px !important;
    background: transparent no-repeat 3px 0;
}
.x-status-error-list {
    font: 11px tahoma,arial,verdana,sans-serif;
    position: absolute;
    z-index: 9999;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    padding: 5px 10px;
}
.x-status-error-list li {
    cursor: pointer;
    list-style: disc;
    margin-left: 10px;
}
.x-status-error-list li a {
    text-decoration: none;
}
.x-status-error-list li a:hover {
    text-decoration: underline;
}


/* *********************************************************** */
/* *********************************************************** */
/* *********************************************************** */


/* StatusBar - visual */

.x-statusbar .x-status-busy {
    background-image: url(../Images/loading.gif);
}
.x-statusbar .x-status-text-panel {
    border-color: #99bbe8 #fff #fff #99bbe8;
}

/* StatusBar word processor example styles */

#word-status .x-status-text {
    color: #777;
}
#word-status .x-status-busy {
    background-image: url(../Images/saving.gif);
}
#word-status .x-status-saved {
    background-image: url(../Images/saved.png);
}

/* StatusBar form validation example styles */

.x-statusbar .x-status-error {
    color: #C33;
    background-image: url(../Images/exclamation.gif);
}
.x-statusbar .x-status-valid {
    background-image: url(../Images/accept.png);
}
.x-status-error-list {
    border-color: #C33;
    background: white;
}
.x-status-error-list li a {
    color: #15428B;
}



